<div class="calculator">
    <h2 class="calculator-title" contenteditable="true">Calculator</h2>
    <form>
        <div class="input-wrapper">
            <label for="income">Income:</label><br>
            <input type="number" class="income" name="income" value="0" min="0" pattern="^\d+(.\d{1,2})?$" required><br>
        </div>
        <div class="input-wrapper">
            <label for="deductions">Deductions:</label><br>
            <input type="number" class="deductions" name="deductions" value="0" min="0" pattern="^\d+(.\d{1,2})?$" required><br>
        </div>
    </form>
    <p class="tax"></p>
    <button class="removeCalculator">Remove Calculator</button>
    <button class="copyCalculator">Duplicate</button>
</div>