<!DOCTYPE html>
<html>
<head>
    <title>Calculator App</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <%- include('partials/newCalculatorButton') %>
    <div id="calculators">
        <%- include('partials/calculator') %>
    </div>
    <script src="/js/calculator.js"></script>
</body>
</html>